:root {
    --cor-de-fundo: #B8B8B8;
    --cor-principal: #9B5F20;
    --cor-do-texto: #ffffff;
    --cor-do-card: #734E26;
    --cor-de-input: #FDEEBC;
    --cor-do-resultado: #2f9706;
    --texto-fonte: "Allan";
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    font-family: var(--texto-fonte);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

.pricipal {
    background-color: var(--cor-principal);
    padding: 1rem;
    margin-top: 4rem;
    width: 40vw;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.card {
    padding: 2rem;
    background-color: var(--cor-do-card);
    text-align: center;
    width: 30vw;
    border-radius: 0.8rem;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 11.35rem;
    margin-top: 3rem;
}

.card__item {
    margin: 1rem;
}

.card__input {
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.card__couteudo {
    color: var(--cor-do-card);
    padding: 1rem;
}

.card h2 {
    font-size: 2.75rem;
}

.card label {
    font-size: 1.75rem;
}

.card input {
    font-size: 1.15rem;
}

.card__resultado {
    background-color: var(--cor-de-input);
    color: var(--cor-do-resultado);
    border-radius: 0.5rem;
    width: 30%;
    margin-left: 35%;
    font-size: 1.5rem;
}

footer {
    bottom: 0;
    text-align: center;
    background-color: var(--cor-principal);
    padding: 1rem;
}